* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(23, 189, 239);
  padding: 10vh 0;
}

#container {
  width: 600px;
  min-height: 70vh;
  background: #fff;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
  padding: 20px 10px;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

#title {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

#input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#input-task {
  width: 73%;
  background: #ddd;
  border: none;
  padding: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 1.5rem;
}

#addlist-btn {
  background: rgb(23, 189, 239);
  border: none;
  padding: 10px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

#task-table {
  width: calc(100% - 20px);
  padding: 10px 10px;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

thead,
tbody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 5px;
}

thead {
  background: red;
  color: #fff;
}

th,
td {
  padding: 10px 5px;
  white-space: nowrap;
  text-align: center;
}

tr {
  display: contents; /* Makes sure the grid layout is applied to its children */
}

tbody tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tbody tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tbody tr:nth-child(even) td {
  background: #ddd;
}

/*  style day-date-status */
#serial,
#task-title,
#days,
#date,
#status {
  font-size: 20px;
  vertical-align: middle;
}

#days,
#date,
#status {
  border: none;
  border-radius: 3px;
}

/*  style edit - delete buttons */
#edit,
#delete {
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: #fff;
}
#edit {
  background: greenyellow;
}

#delete {
  background: purple;
}
